<div ng-controller="ModalDemoCtrl">
<div class="main">
	<nav class="cl-effect-2" >
		<a ng-href="/createHero" class="color-4"><span data-hover="Create new hero">Create new hero</span></a>
	</nav>
    <nav class="cl-effect-2" >
        <a href='#' class="color-4"><span ng-click="open()" data-hover="Select a hero">Select hero</span></a>
    </nav>
	
</div>



    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Select your hero</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items track by $index">
                    <a href="#"  ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

   
</div>

